{{!

 Copyright (c) 2018 superadmin (email : hola@superadmin.es)

 This program is free software; you can redistribute it and/or modify
 it under the terms of the GNU General Public License, version 2 or, at
 your discretion, any later version, as published by the Free
 Software Foundation.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program; if not, write to the Free Software
 Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA

}}

<div id='banner-wrapper'>
  <div class='banner-row'>
    <div class='banner-column'>      
      	{{! //////////////// AYUDA //////////////// }}
	
		<p>
			¿Necesitas ayuda, tienes ideas para mejorar el plugin, o <b>necesitas asesoramiento profesional?</b>
		</p>
		<p>
			Cuéntanos que necesitas:
		</p>
		<p>
			<a target="_blank" href="https://superadmin.es/contacto/?utm_source=wordpressorg&utm_campaign=adapta_rgpd&utm_medium=direct" style="text-decoration: none">
				<button class=" button button-primary" style="margin: 0.5em 0">
					CONTACTAR				
				</button>
			</a>
		</p>      
      
      	<br>
		<h2>Cómo funciona</h2>		
		<p>
			&laquo;Adapta RGDP&raquo; crea y actualiza los textos legales necesarios para cumplir la <a href="https://superadmin.es/blog/que-es/lssi/?utm_source=wordpressorg&utm_campaign=adapta_rgpd&utm_medium=direct" target="_blank">LSSI</a> &mdash;Ley de Servicios de la Sociedad de la Información y Comercio Electrónico&mdash;, la Ley de Protección de Datos Personales y de Garantía de Derechos Digitales (LOPD GDD) y el Reglamento <a href="https://superadmin.es/blog/que-es/rgpd/?utm_source=wordpressorg&utm_campaign=adapta_rgpd&utm_medium=direct" target="_blank">RGPD</a> &mdash;Reglamento General de Protección de Datos&mdash; que entro en vigor en mayo de 2018.
		</p>
		<p>
			Tras activar el plugin, en el menú Páginas aparecen publicadas 3 nuevas páginas con los textos legales principales:
			<ul style="padding-left: 20px">
				<li>&bull; Aviso Legal</li>
				<li>&bull; Política de Privacidad</li>
				<li>&bull; Política de Cookies</li>
			</ul>
		</p>
		<p>		
			El contenido es dinámico y se crea en el momento de visitar cualquiera de las páginas que contienen los textos legales. De este modo, puedes haces cambios en los datos del Titular o en la configuración del plugin que los textos estarán siempre actualizados.
		</p>
		<p>		
			En el menú principal aparece un nuevo elemento con el nombre <b>Adapta RGPD</b> que sirve para proporcionar los datos del Titular y adecuar el plugin a las características de tu sitio web. 		
		</p>
		<p>
			Al pulsar en el menú <b>Adapta RGPD</b> entrarás el panel de configuración que tiene 3 pestañas:
		</p>

		<h4>1. Titular</h4>
		<p>
			Está compuesta por un formulario que sirve para rellenar los datos del titular <i>&mdash; ya sea un particular o una empresa&mdash;</i> y del sitio web. 
		</p>

		<h4>2. Integración</h4>
		<p>
			Tiene 3 apartados que sirven para dar cumplimiento al RGPD y la LSSI.
		</p>
			<ul style="padding-left: 20px">
				<li>&bull; <b>Páginas Legales</b><br/>Para activar o desactivar las páginas de Aviso Legal, Política de Privacidad y la Política de Cookies.</li>
				<li>&bull; <b>Consentimiento y Deber de Informar</b><br/>Para adecuar los formularios al RGPD.</li>
				<li>&bull; <b>Ley de Cookies</b><br/>Para activar el banner de cookies y establecer un diseño que se ajusta a cualquier sitio.</li>
			</ul> 
		

		<h4>3. Ayuda</h4>
		<p>
			Esta sección de ayuda y un <a href="https://superadmin.es/contacto/?utm_source=wordpressorg&utm_campaign=adapta_rgpd&utm_medium=direct" target="_blank">enlace</a> desde el que <b>puedes mandarnos cualquier consulta o sugerencia</b>.
		</p>

		<br>
		<h2>Shortcodes</h2>		
		<ul style="padding-left: 20px">
			<li>&bull; <b>Páginas Legales</b>
				<br>Para mostrar el texto del Aviso Legal, la Política de Privacidad o la Política de Cookies<br/> a través de un shortcode utiliza respectivamente:
				<br/>
				<br/>[argpd_aviso-legal/]
				<br/>[argpd_politica-privacidad/]>
				<br/>[argpd_politica-cookies/]			
				<br/><br/>
			</li>	
			<li>&bull; <b>Primera capa informativa</b><br/>
				<br/>[argpd_deber_de_informar finalidad="" destinatarios=""/]		
			</li>
		</ul>			
      </div>
    
    
    	<div class='banner-column'>
    	{{! //////////////// BANNER //////////////// }}        
        <div class="banner-card">
			<img src="https://medios.superadmin.es/superadmin/superadmin-hosting-wordpress-administrado.jpg" alt="Superadmin - Hosting WordPress Administrado">
		
			<div class="banner-text">
				<h2>Evita problemas legales con tu web</h2>	
				<p>
					Cumple la ley de protección de datos y evita sanciones alojando tu WordPress en Superadmin que incluye textos legales para cumplir la LOPD y RGPD.
				</p>

				<a 	target="_blank" 			
					href="https://superadmin.es/contacto/?utm_source=wordpressorg&utm_campaign=adapta_rgpd&utm_medium=direct">
					<button class="button button-secondary">
						CONTACTAR
					</button>
				</a>

				<a 	target="_blank"			
					href="https://superadmin.es/caracteristicas/?utm_source=wordpressorg&utm_campaign=adapta_rgpd&utm_medium=direct">
					<button class=" button button-primary">
						VER DETALLES
					</button>
				</a>
			</div>
		</div>
		</div>
    </div>  
</div>
