{{!

 Copyright (c) 2018 superadmin (email : superadmin@superadmin.es)

 This program is free software; you can redistribute it and/or modify
 it under the terms of the GNU General Public License, version 2 or, at
 your discretion, any later version, as published by the Free
 Software Foundation.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program; if not, write to the Free Software
 Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA

}}

<div style="max-width: 540px; padding-top:20px">
	<p>
		<h4>Renuncia de responsabilidad</h4>
	</p>
						<p>
							El uso del plugin <b>Adapta RGPD</b> sirve para crear los textos legales de tu sitio web adecuados a las regulaciones europeas de privacidad conocidas como RGPD, sin embargo <b>NO garantiza el cumplimiento de RGPD o cualquier otra disposición legal</b>. 
						</p>

						<p>
							Considera que es tu responsabilidad usar estos recursos correctamente, para ofrecer la información que requiera tu Política de Privacidad y para asegurar que la información es actual y precisa. Expresamente declinamos toda responsabilidad con respecto al uso de este plugin. 
						</p>

						<p>
							Para obtener ayuda adicional contacta con profesionales legales. Como cada negocio y situación es único, es posible que tengas que modificar, agregar o eliminar información en estas plantillas. 
						</p>

						<p>
							Para obtener más información visita la <a href="https://superadmin.es/adapta-rgpd">página del plugin</a>.
						</p>
</div>
