{{!

 Copyright (c) 2018 superadmin (email : superadmin@superadmin.es)

 This program is free software; you can redistribute it and/or modify
 it under the terms of the GNU General Public License, version 2 or, at
 your discretion, any later version, as published by the Free
 Software Foundation.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program; if not, write to the Free Software
 Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA

}}

<p>
	En cumplimiento con lo dispuesto en el artículo 22.2 de la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y de Comercio Electrónico, el Titular {{#option-formal}}le informa{{/option-formal}}{{^option-formal}}te informa{{/option-formal}} que este sitio Web utiliza cookies, así como sobre su política de recogida y el tratamiento que hace de las mismas.
</p>


<h2>Qué son las cookies</h2>

<p>
	{{#option-formal}}
		Una cookie es un fichero que se descarga en su ordenador al entrar a determinadas páginas web. Las cookies permiten a una página web, entre otras cosas, almacenar y recuperar información sobre sus hábitos de navegación y &mdash;dependiendo de la información que contengan y de la forma en que utilice su equipo&mdash; pueden utilizarse para identificarle.
	{{/option-formal}}
	{{^option-formal}}
		Una cookie es un fichero que se descarga en tu ordenador al entrar a determinadas páginas web. Las cookies permiten a una página web, entre otras cosas, almacenar y recuperar información sobre tus hábitos de navegación y &mdash;dependiendo de la información que contengan y de la forma en que utilices tu equipo&mdash; pueden utilizarse para identificarte.
	{{/option-formal}}	
</p>


<h2>Tipos de cookies utilizadas</h2>

<p>
	El sitio Web <a href="{{site-url}}">{{dominio}}</a> utiliza los siguientes tipos de cookies:
</p>

<p>
	<ul>
		{{# thirdparty-ganalytics }}
		<li>
			<b>Cookies de análisis:</b> Son aquellas que, bien tratadas por el sitio Web o por terceros, permiten cuantificar el número de usuarios y así realizar la medición y análisis estadístico de la utilización que hacen los usuarios del sitio Web. Para ello se analiza la navegación que realizas en este sitio Web con el fin de mejorarlo.<!--, así como los Productos o Servicios que pueda ofrecer el Titular.-->
		</li>
		{{/ thirdparty-ganalytics }}
		<li>
			<b>Cookies técnicas:</b> Son aquellas tratadas por el sitio Web que permiten a los usuarios registrados navegar a través del área restringida y a utilizar sus diferentes funciones, como por ejemplo, llevar a cabo el proceso de compra de un Producto o Servicio.
			<br>
			Algunas cookies son esenciales para el funcionamiento del sitio Web, por ejemplo, el sistema de comentarios o el buscador.
		</li>
		<li>
			<b>Cookies de personalización:</b> Son aquellas que permiten a los usuarios acceder al Servicio con algunas características de carácter general predefinidas en función de una serie de criterios establecidos por el usuario como, por ejemplo, el idioma o el tipo de navegador a través del cual se conecta a este sitio Web.
		</li>
		{{# cookies-publicitarias }}
		<li>
			<b>Cookies publicitarias:</b> Son aquellas que, bien tratadas por el sitio Web o por terceros, permiten gestionar de la forma más eficaz posible la oferta de los espacios publicitarios existentes en este sitio Web, adecuando el contenido de los anuncios al contenido del servicio solicitado o al uso que realice de este sitio Web. 
			<br>El Titular o terceros pueden analizar tus hábitos de navegación en Internet y mostrarte publicidad relacionada con tu perfil de navegación.
		</li>
		<li>
			<b>Cookies de publicidad comportamental:</b> Este tipo de cookies almacenan información del comportamiento del usuario &mdash;obtenida a través de la observación continuada de sus hábitos de navegación&mdash; que permite desarrollar un perfil específico para mostrarle anuncios publicitarios en función del mismo.
		</li>
		{{/ cookies-publicitarias }}
	</ul>
</p>

{{#cookies-list.0}}
	<p>	
	El siguiente listado recoge el nombre de las cookies que utiliza el sitio Web:
	</p>
	<p>	
		<ul>
		{{#cookies-list}}
		    <li>{{.}}</li>
		{{/cookies-list}}
		</ul>
	</p>
{{/cookies-list.0}}

<h2>Desactivar las cookies</h2>

{{#option-formal}}
	<p>
		Usted puede aceptar, bloquear o eliminar las cookies instaladas en su equipo mediante la configuración de las opciones del navegador.	
	</p>
	<p>	
		En los siguientes enlaces encontrará instrucciones para habilitar o deshabilitar las cookies en los navegadores más comunes.
	</p>
{{/option-formal}}
{{^option-formal}}
	<p>
		Puedes aceptar, bloquear o eliminar las cookies instaladas en tu equipo mediante la configuración de las opciones del navegador.
	</p>
	<p>	
		En los siguientes enlaces encontrarás instrucciones para habilitar o deshabilitar las cookies en los navegadores más comunes.
	</p>
{{/option-formal}}		

<p>
	<ul>
		<li><b>Firefox</b>  <a rel="nofollow" href="http://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we">http://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we</a></li>
		<li><b>Safari</b> <a rel="nofollow" href="http://support.apple.com/kb/HT1677?viewlocale=es_ES">http://support.apple.com/kb/HT1677?viewlocale=es_ES</a></li>
		<li><b>Google Chrome</b> <a rel="nofollow" href="https://support.google.com/chrome/answer/95647?hl=es">https://support.google.com/chrome/answer/95647?hl=es</a></li>
	</ul>
</p>

{{# cookies-terceros }}
<h2>Cookies de terceros</h2>
{{/ cookies-terceros }}

{{# thirdparty-ganalytics }}
<p>
	El sitio Web utiliza los servicios de &laquo;Google Analytics&raquo; que pueden instalar cookies que sirven para obtener estadísticas y datos publicitarios.
</p>
{{/ thirdparty-ganalytics }}

{{# thirdparty-dclick }}
	<p>
		{{#option-formal}}
			Este sitio Web utiliza servicios de &laquo;DoubleClick&raquo; que pueden instalar cookies para recopilar información con fines estadísticos y de uso del sitio Web. Las cookies instaladas permiten mejorar la publicidad que encuentra en el sitio Web mostrándole publicidad según el contenido que le es relevante, mejorando así su percepción de la calidad del sitio Web.
		{{/option-formal}}
		{{^option-formal}}
			Este sitio Web utiliza servicios de &laquo;DoubleClick&raquo; que pueden instalar cookies para recopilar información con fines estadísticos y de uso del sitio Web. Las cookies instaladas permiten mejorar la publicidad que encuentras en el sitio Web mostrándote publicidad según el contenido que te es relevante, mejorando así tu percepción de la calidad del sitio Web.
		{{/option-formal}}
	</p>	
{{/ thirdparty-dclick }}

{{# thirdparty-adsense }}
	<p>
		{{#option-formal}}		
			Este sitio Web utiliza servicios de &laquo;Google Adsense&raquo; que pueden instalar cookies para recopilar información con fines estadísticos y de uso del sitio Web. Las cookies instaladas permiten mejorar la publicidad que encuentra en el sitio Web mostrándole publicidad según el contenido que le es relevante, mejorando así su percepción de la calidad del sitio Web.			
		{{/option-formal}}
		{{^option-formal}}
			Este sitio Web utiliza servicios de &laquo;Google Adsense&raquo; que pueden instalar cookies para recopilar información con fines estadísticos y de uso del sitio Web. Las cookies instaladas permiten mejorar la publicidad que encuentras en el sitio Web mostrándote publicidad según el contenido que te es relevante, mejorando así tu percepción de la calidad del sitio Web.
		{{/option-formal}}
	</p>	
	<p>
		Para dejar de recibir publicidad personalizada de Google puede{{^option-formal}}s{{/option-formal}} inhabilitar la personalización de anuncios mediante la <a rel="nofollow" href="https://www.google.es/settings/ads">configuración de anuncios de Google</a>.
	</p>
{{/ thirdparty-adsense }}


{{# thirdparty-social }}
<p>
	El sitio Web incluye otras funcionalidades proporcionadas por las redes sociales y que pueden instalar cookies. {{#option-formal}}Usted puede{{/option-formal}}{{^option-formal}}Puedes{{/option-formal}} compartir el contenido en tus redes sociales como Facebook, Twitter, Google +, Instagram o YouTube con los botones incluidos a tal efecto o con las herramientas para compartir propias de las redes sociales.
</p>
{{/ thirdparty-social }}


{{# thirdparty-amazon }}
<p>
	{{#option-formal}}
		{{titular}} participa en el <a href="https://afiliados.amazon.es/" rel="nofollow" target="_blank">Programa de Afiliados de Amazon EU</a>. Amazon y otros anunciantes pueden instalar cookies en su equipo que sirven para obtener información, ofrecerle anuncios, <a href="https://www.amazon.es/gp/help/customer/display.html/?nodeId=201909150" target="_blank" rel="nofollow">mostrar contenido basado en sus intereses</a> o para hacer un seguimiento de su navegación, guardando la información de afiliado por si realiza una compra en las siguientes 24 horas.
	{{/option-formal}}
	{{^option-formal}}
		{{titular}} participa en el <a href="https://afiliados.amazon.es/" rel="nofollow" target="_blank">Programa de Afiliados de Amazon EU</a>. Amazon y otros anunciantes pueden instalar cookies en tu equipo que sirven para obtener información, ofrecerte anuncios, <a href="https://www.amazon.es/gp/help/customer/display.html/?nodeId=201909150" target="_blank" rel="nofollow">mostrar contenido basado en tus intereses</a> o para hacer un seguimiento de tu navegación, guardando la información de afiliado por si realizas una compra en las siguientes 24 horas.
	{{/option-formal}}
</p>
{{/ thirdparty-amazon }}

<h2>Advertencia sobre eliminar cookies</h2>
<p>
	{{#option-formal}}Usted puede{{/option-formal}}{{^option-formal}}Puedes{{/option-formal}} eliminar y bloquear las cookies de este sitio Web, pero parte del sitio no funcionará correctamente o su calidad puede verse afectada.
</p>


{{#correo}}
<h2>Contacto</h2>
<p>
	{{#option-formal}}
		En caso de que tenga cualquier duda acerca de esta Política de Cookies o quiera realizar cualquier comentario sobre este sitio Web, puede enviar un mensaje de correo electrónico a la dirección {{correo}}. 
	{{/option-formal}}
	{{^option-formal}}
		En caso de que tengas cualquier duda acerca de esta Política de Cookies o quieras realizar cualquier comentario sobre este sitio Web, puedes enviar un mensaje de correo electrónico a la dirección {{correo}}. 
	{{/option-formal}}
</p>
{{/correo}}



