{{!

 Copyright (c) 2018 superadmin (email : superadmin@superadmin.es)

 This program is free software; you can redistribute it and/or modify
 it under the terms of the GNU General Public License, version 2 or, at
 your discretion, any later version, as published by the Free
 Software Foundation.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program; if not, write to the Free Software
 Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA

}}

<p>
	{{titular}} {{#option-formal}}le{{/option-formal}}{{^option-formal}}te{{/option-formal}} informa sobre su Política de Privacidad respecto del tratamiento y protección de los datos de carácter personal de los usuarios {{#es-tienda}}y clientes{{/es-tienda}} que puedan ser recabados durante la navegación{{#es-tienda}}, al comprar un producto o contratar un servicio{{/es-tienda}} a través del sitio Web <a href="{{site-url}}">{{dominio}}</a>.
</p>

<p>
	{{#pais-ue}}
	En este sentido, {{titular}} garantiza el cumplimiento de la normativa vigente en materia de protección de datos personales, reflejada en la Ley Orgánica 3/2018, de 5 de diciembre, de Protección de Datos Personales y de Garantía de Derechos Digitales (LOPD GDD). Cumple también con el Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo de 27 de abril de 2016 relativo a la protección de las personas físicas (RGPD).
	{{/pais-ue}}
	{{^pais-ue}}
	En este sentido, {{titular}} cumple con el Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo de 27 de abril de 2016 relativo a la protección de las personas físicas (RGPD).
	{{/pais-ue}}	
</p>


<p>
	El uso de sitio Web implica la aceptación de esta Política de Privacidad {{#avisolegalURL}} así como las condiciones incluidas en el <a href="{{ avisolegalURL }}">Aviso Legal</a>{{/avisolegalURL}}.
</p>

<h2>Identidad del responsable</h2>
<p>
	<ul>
		<li><b>Titular:</b> 
			{{#titular}}{{titular}}.{{/titular}}
			{{^titular}}El titular del sitio.{{/titular}}
		</li>
		{{#colegio}}<li>{{colegio}}</li>{{/colegio}}
		{{#id-fiscal}}<li><b>NIF:</b> {{id-fiscal}}</li>{{/id-fiscal}}
		<li><b>Domicilio:</b> {{# domicilio }} {{domicilio}}, {{/ domicilio }} {{provincia}} - {{pais-nombre}}.</li>
		{{#correo }}<li><b>Correo electrónico:</b> {{correo}}</li>{{/correo}}
		<li><b>Sitio Web:</b> <a href="{{site-url}}">{{dominio}}</a></li>
	</ul>
</p>



<h2>Principios aplicados en el tratamiento de datos</h2>
<p>
	En el tratamiento de {{#option-formal}}sus{{/option-formal}}{{^option-formal}}tus{{/option-formal}} datos personales, el Titular aplicará los siguientes principios que se ajustan a las exigencias del nuevo reglamento europeo de protección de datos (RGPD):
</p>

<p>
	<ul>
		<li>
			<b>Principio de licitud, lealtad y transparencia:</b> El Titular siempre requerirá el consentimiento para el tratamiento de los datos personales que puede ser para uno o varios fines específicos sobre los que el Titular informará al Usuario previamente con absoluta transparencia.
		</li>
		<li>
			<b>Principio de minimización de datos:</b> El Titular solicitará solo los datos estrictamente necesarios para el fin o los fines que los solicita. 
		</li>	
		<li>
			<b>Principio de limitación del plazo de conservación:</b> El Titular mantendrá los datos personales recabados durante el tiempo estrictamente necesario para el fin o los fines del tratamiento. El Titular informará al Usuario del plazo de conservación correspondiente <a href="#finalidad-del-tratamiento-de-datos-personales">según la finalidad</a>. 
			<br>En el caso de suscripciones, el Titular revisará periódicamente las listas y eliminará aquellos registros inactivos durante un tiempo considerable.
		</li>
		<li>
			<b>Principio de integridad y confidencialidad:</b> Los datos personales recabados serán tratados de tal manera que su seguridad, confidencialidad e integridad esté garantizada.			
			<br>El Titular toma las precauciones necesarias para evitar el acceso no autorizado o uso indebido de los datos de sus usuarios por parte de terceros.
		</li>
	</ul>
</p>



<h2>Obtención de datos personales</h2>
<p>
	Para navegar por <a href="{{site-url}}">{{dominio}}</a> no es necesario que {{#option-formal}}facilite{{/option-formal}}{{^option-formal}}facilites{{/option-formal}} ningún dato personal.
</p>
<p>
	Los casos en los que {{#option-formal}}usted sí proporciona sus{{/option-formal}}{{^option-formal}}sí proporcionas tus{{/option-formal}} datos personales son los siguientes:
</p>
<p>
	<ul>		
		{{#option-forms}}<li>Al contactar a través de los formularios de contacto o enviar un correo electrónico.</li>{{/option-forms}}
		{{#option-comments}}<li>Al realizar un comentario en un artículo o en una página.</li>{{/option-comments}}
		{{#es-tienda}}<li>Al comprar un producto o contratar un servicio.</li>{{/es-tienda}}
		{{#thirdparty-mailchimp}}<li>Al {{#option-formal}}inscribirse{{/option-formal}}{{^option-formal}}inscribirte{{/option-formal}} en un formulario de suscripción o un boletín que el Titular gestiona con <a href="#destinatarios">MailChimp</a>.</li>{{/thirdparty-mailchimp}}
		{{#thirdparty-mailrelay}}<li>Al {{#option-formal}}inscribirse{{/option-formal}}{{^option-formal}}inscribirte{{/option-formal}} en un formulario de suscripción o un boletín que el Titular gestiona con <a href="#destinatarios">MailRelay</a>.</li>{{/thirdparty-mailrelay}}
		{{#thirdparty-sendinblue}}<li>Al {{#option-formal}}inscribirse{{/option-formal}}{{^option-formal}}inscribirte{{/option-formal}} en un formulario de suscripción o un boletín que el Titular gestiona con <a href="#destinatarios">SendinBlue</a>.</li>{{/thirdparty-sendinblue}}
		{{#thirdparty-mailpoet}}<li>Al {{#option-formal}}inscribirse{{/option-formal}}{{^option-formal}}inscribirte{{/option-formal}} en un formulario de suscripción o un boletín que el Titular gestiona con <a href="#destinatarios">MailPoet</a>.</li>{{/thirdparty-mailpoet}}
	</ul>
</p>


<h2>Derechos</h2>
<p>
	{{#option-formal}}
		El Titular le informa que sobre sus datos personales tiene derecho a:
	{{/option-formal}}
	{{^option-formal}}
		El Titular te informa que sobre tus datos personales tienes derecho a:
	{{/option-formal}}	
</p>
<p>
	<ul>
		<li>Solicitar el acceso a los datos almacenados.</li>
		<li>Solicitar una rectificación o la cancelación.</li>
		<li>Solicitar la limitación de su tratamiento.</li>
		<li>{{#option-formal}}Oponerse{{/option-formal}}{{^option-formal}}Oponerte{{/option-formal}} al tratamiento.</li>
		{{#clause-portabilidad}}<li>Solicitar la portabilidad de {{#option-formal}}sus{{/option-formal}}{{^option-formal}}tus{{/option-formal}} datos.</li>{{/clause-portabilidad}}
	</ul>
</p>
{{^clause-portabilidad}}
<p>
	No {{#option-formal}}puede{{/option-formal}}{{^option-formal}}puedes{{/option-formal}} ejercitar el derecho a la portabilidad de los datos.
</p>
{{/clause-portabilidad}}

<p>
	El ejercicio de estos derechos es personal y por tanto debe ser ejercido directamente por el interesado, solicitándolo directamente al Titular, lo que significa que cualquier cliente, suscriptor o colaborador que haya facilitado sus datos en algún momento, puede dirigirse a {{titular}} y pedir información sobre los datos que tiene almacenados y cómo los ha obtenido, solicitar la rectificación de los mismos{{#clause-portabilidad}}, solicitar la portabilidad de sus datos personales{{/clause-portabilidad}}, oponerse al tratamiento, limitar su uso o solicitar la cancelación de esos datos en los ficheros del Titular.
</p>
<p>	
	Para ejercitar {{#option-formal}}sus{{/option-formal}}{{^option-formal}}tus{{/option-formal}} derechos de acceso, rectificación, cancelación{{#clause-portabilidad}}, portabilidad{{/clause-portabilidad}} y oposición {{#option-formal}}tiene{{/option-formal}}{{^option-formal}}tienes{{/option-formal}} que enviar
	{{#correo}}
		un correo electrónico a {{correo}} junto con la prueba válida en derecho como una fotocopia del D.N.I. o equivalente.
	{{/correo}}
	{{^correo}}
		un correo postal a {{titular}}, {{# domicilio }} {{domicilio}}, {{/ domicilio }} {{provincia}} - España, junto con la prueba válida en derecho como una fotocopia del D.N.I. o equivalente.
	{{/correo}}	
</p>
<p>
	{{#option-formal}}
		Tiene derecho a la tutela judicial efectiva y a presentar una reclamación ante la autoridad de control, en este caso, la Agencia Española de Protección de Datos, si considera que el tratamiento de datos personales que le conciernen infringe el Reglamento.
	{{/option-formal}}
	{{^option-formal}}
		Tienes derecho a la tutela judicial efectiva y a presentar una reclamación ante la autoridad de control, en este caso, la Agencia Española de Protección de Datos, si consideras que el tratamiento de datos personales que te conciernen infringe el Reglamento.
	{{/option-formal}}	
</p>



<h2 id="finalidad-del-tratamiento-de-datos-personales">Finalidad del tratamiento de datos personales</h2>
<p>
	{{#option-formal}}
		Cuando usted se conecta al sitio Web para mandar un correo al Titular,{{#option-comments}} escribe un comentario en un artículo o una página, {{/option-comments}} se suscribe a su boletín {{#es-tienda}} o contrata un producto o un servicio{{/es-tienda}} está facilitando información de carácter personal de la que el responsable es {{titular}}. Esta información puede incluir datos de carácter personal como pueden ser su dirección IP, nombre y apellidos, dirección física, dirección de correo electrónico, número de teléfono, y otra información. Al facilitar esta información, da su consentimiento para que su información sea recopilada, utilizada, gestionada y almacenada por 
	{{/option-formal}}
	{{^option-formal}}
		Cuando te conectas al sitio Web para mandar un correo al Titular,{{#option-comments}} escribes un comentario en un artículo o una página, {{/option-comments}} te suscribes a su boletín{{#es-tienda}}, compras un producto o realizas una contratación{{/es-tienda}} estás facilitando información de carácter personal de la que el responsable es {{titular}}. Esta información puede incluir datos de carácter personal como pueden ser tu dirección IP, nombre y apellidos, dirección física, dirección de correo electrónico, número de teléfono, y otra información. Al facilitar esta información, das tu consentimiento para que tu información sea recopilada, utilizada, gestionada y almacenada por 
	{{/option-formal}}	

	&mdash;
	{{#hosting-info}}{{hosting-info}}{{/hosting-info}}
	{{^hosting-info}}{{titular}}{{/hosting-info}}
	&mdash;
	{{#avisolegalURL}}
		sólo como se describe en el <a href="{{avisolegalURL}}">Aviso Legal</a> y en la presente <a href="{{privacidadURL}}">Política de Privacidad</a>.
	{{/avisolegalURL}}
</p>
<p>
	Los datos personales y la finalidad del tratamiento por parte del Titular es diferente según el sistema de captura de información:
</p>
<p>
	<ul>		
		{{#option-forms}}
		<li>
			<b>Formularios de contacto:</b> El Titular solicita datos personales entre los que pueden estar: nombre y apellidos, dirección de correo electrónico, número de teléfono y dirección de sitio Web con la finalidad de responder las consultas de los Usuarios{{#es-tienda}}, ofrecer información y demostraciones de los productos y servicios del Titular, incluidos presupuestos{{/es-tienda}}.<br>
			Por ejemplo, {{titular}} utiliza esos datos para dar respuesta a mensajes, dudas, quejas, comentarios o inquietudes que pueden tener los Usuarios relativas a la información incluida en el sitio Web{{#es-tienda}}, los productos y los servicios que se prestan a través del sitio Web{{/es-tienda}}, el tratamiento de los datos personales, cuestiones referentes a los textos legales incluidos en el sitio Web, así como cualquier otra consulta que el Usuario pueda tener y que no esté sujeta a las condiciones del sitio Web{{#es-tienda}} o de las condiciones de contratación{{/es-tienda}}.
		</li>
		{{/option-forms}}
		{{#option-comments}}
		<li>
			<b>Formularios de comentarios:</b> El Titular solicita datos personales entre los que pueden estar: nombre y apellidos, dirección de correo electrónico, y dirección de sitio Web con la finalidad de responder a los comentarios de los Usuarios.
		</li>		
		{{/option-comments}}
		{{#es-tienda}}
		<li>
			<b>Formularios de contratación de productos o servicios:</b> El Titular solicita datos personales entre los que pueden estar: nombre y apellidos, documento de identidad (número de identificación fiscal, número de identificación de extranjero, pasaporte o permiso de residencia), dirección de correo electrónico, dirección postal, número de teléfono y datos de pago (métodos de pago o datos bancarios) con la finalidad de mantener una relación comercial con el Usuario, realizar el envío de los pedidos, prestar los servicios contratados y para realizar la facturación y el cobro de los productos o servicios contratados.
		</li>
		{{/es-tienda}}
		{{#thirdparty-mailchimp}}
		<li>
			<b>Formularios de suscripción a contenidos:</b> El Titular solicita los siguientes datos personales: nombre y apellidos, dirección de correo electrónico, número de teléfono y dirección de un sitio web para gestionar la lista de suscripciones, enviar boletines, promociones y ofertas especiales.<br>
			Los datos personales facilitados al Titular estarán ubicados en los servidores de The Rocket Science Group LLC d/b/a, con domicilio en EEUU. (Mailchimp).	
		</li>
		{{/thirdparty-mailchimp}}
	</ul>	
</p>
<p>		
	Existen otras finalidades por las que el Titular trata datos personales:
</p>
<p>
	<ul>
		<li>
			Para garantizar el cumplimiento de las condiciones recogidas en {{#avisolegalURL}} el <a href="{{ avisolegalURL }}">Aviso Legal</a> y en {{/avisolegalURL}} la ley aplicable. Esto puede incluir el desarrollo de herramientas y algoritmos que ayuden a este sitio Web a garantizar la confidencialidad de los datos personales que recoge.
		</li>
		<li>
			Para apoyar y mejorar los servicios que ofrece este sitio Web.
		</li>
		{{# cookiesURL }}
		<li>
			Para analizar la navegación de los usuarios. El Titular recoge otros datos no identificativos que se obtienen mediante el uso de cookies que se descargan en el ordenador del Usuario cuando navega por el sitio Web{{#cookiesID}} cuyas características y finalidad están detalladas en la <a href="{{ cookiesURL }}"> Política de Cookies</a> {{/cookiesID}}.
		</li>
		{{/ cookiesURL }}
		{{#thirdparty-social}}
		<li>
			<p>
			Para gestionar las redes sociales. {{titular}} tiene presencia en redes sociales. 
			{{#option-formal}}
				Si usted se hace seguidor en las redes sociales del Titular el tratamiento de los datos personales se regirá por este apartado, así como por aquellas condiciones de uso, políticas de privacidad y normativas de acceso que pertenezcan a la red social que proceda en cada caso y que ha aceptado previamente.
				<br>
				Puede consultar las políticas de privacidad de las principales redes sociales en estos enlaces:
			{{/option-formal}}
			{{^option-formal}}
				Si te haces seguidor en las redes sociales del Titular el tratamiento de los datos personales se regirá por este apartado, así como por aquellas condiciones de uso, políticas de privacidad y normativas de acceso que pertenezcan a la red social que proceda en cada caso y que has aceptado previamente.
				<br>
				Puedes consultar las políticas de privacidad de las principales redes sociales en estos enlaces:
			{{/option-formal}}	
			</p>
			<p>			
			<ul>
				<li><a href="https://www.facebook.com/help/cookies" rel="nofollow" target="_blank">Facebook</a></li>
				<li><a href="https://twitter.com/privacy" rel="nofollow" target="_blank">Twitter</a></li>
				<li><a href="https://www.linkedin.com/legal/cookie-policy" rel="nofollow" target="_blank">Linkedin</a></li>
				<li><a href="https://www.youtube.com/privacy" rel="nofollow" target="_blank">YouTube</a></li>
				<li><a href="https://www.instagram.com/legal/privacy/" rel="nofollow" target="_blank">Instagram</a></li>
			</ul>
			</p>
			<p>
				{{#option-formal}}
					El Titular tratará sus datos personales con la finalidad de administrar correctamente su presencia en la red social, informarle de sus actividades{{#es-tienda}}, productos o servicios{{/es-tienda}}, así como para cualquier otra finalidad que las normativas de las redes sociales permitan. 
				{{/option-formal}}
				{{^option-formal}}
					El Titular tratará tus datos personales con la finalidad de administrar correctamente su presencia en la red social, informarte de sus actividades{{#es-tienda}}, productos o servicios{{/es-tienda}}, así como para cualquier otra finalidad que las normativas de las redes sociales permitan. 
				{{/option-formal}}				
			</p>
			<p>
				En ningún caso el Titular utilizará los perfiles de seguidores en redes sociales para enviar publicidad de manera individual.
			</p>
		</li>
		{{/thirdparty-social}}
	</ul>
</p>


<h2>Seguridad de los datos personales</h2>
<p>
	Para proteger {{#option-formal}}sus{{/option-formal}}{{^option-formal}}tus{{/option-formal}} datos personales, el Titular toma todas las precauciones razonables y sigue las mejores prácticas de la industria para evitar su pérdida, mal uso, acceso indebido, divulgación, alteración o destrucción de los mismos.
</p>
{{#hosting-info}}
	<p>
		El sitio Web está alojado en {{hosting-info}}. La seguridad de los datos está garantizada, ya que toman todas las medidas de seguridad necesarias para ello. {{#option-formal}}Puede{{/option-formal}}{{^option-formal}}Puedes{{/option-formal}} consultar su política de privacidad para tener más información.
	</p>
{{/hosting-info}}
{{^hosting-info}}
	<p>
		{{#option-formal}}
			Sus datos podrán ser incorporados a un fichero de lista de correo, del cual {{titular}} es responsable de su gestión y tratamiento. La seguridad de sus datos está garantizada, ya que {{titular}} toma todas las medidas de seguridad necesarias y le garantiza que los datos personales sólo se usarán para las finalidades dadas.
		{{/option-formal}}
		{{^option-formal}}
			Tus datos podrán ser incorporados a un fichero de lista de correo, del cual {{titular}} es responsable de su gestión y tratamiento. La seguridad de tus datos está garantizada, ya que {{titular}} toma todas las medidas de seguridad necesarias y te garantiza que los datos personales sólo se usarán para las finalidades dadas.
		{{/option-formal}}		
	</p>
{{/hosting-info}}


{{^clause-terceros}}
	<p>
		{{titular}} informa al Usuario de que sus datos personales no serán cedidos a terceras organizaciones, con la salvedad de que dicha cesión de datos esté amparada en una obligación legal o cuando la prestación de un servicio implique la necesidad de una relación contractual con un encargado de tratamiento. En este último caso, solo se llevará a cabo la cesión de datos al tercero cuando {{titular}} disponga del consentimiento expreso del Usuario.
	</p>
	<p>
		Sin embargo, en algunos casos se pueden realizar colaboraciones con otros profesionales, en esos casos, se requerirá consentimiento al Usuario informando sobre la identidad del colaborador y la finalidad de la colaboración. Siempre se realizará con los más estrictos estándares de seguridad.
	</p>
{{/clause-terceros}}


<h2>Contenido de otros sitios web</h2>
<p>
	Las páginas de este sitio Web pueden incluir contenido incrustado (por ejemplo, vídeos, imágenes, artículos, etc.). El contenido incrustado de otras web se comporta exactamente de la misma manera que si {{#option-formal}}hubiera{{/option-formal}}{{^option-formal}}hubieras{{/option-formal}} visitado la otra web.
</p>
<p>
	{{#option-formal}}
		Estos sitios Web pueden recopilar datos sobre usted, utilizar cookies, incrustar un código de seguimiento adicional de terceros, y supervisar su interacción usando este código.
	{{/option-formal}}
	{{^option-formal}}
		Estos sitios Web pueden recopilar datos sobre ti, utilizar cookies, incrustar un código de seguimiento adicional de terceros, y supervisar tu interacción usando este código.
	{{/option-formal}}	
</p>


<h2>Política de Cookies</h2>
<p>
	Para que este sitio Web funcione correctamente necesita utilizar cookies, que es una información que se almacena en {{#option-formal}}su{{/option-formal}}{{^option-formal}}tu{{/option-formal}} navegador web. 
	
	{{# cookiesURL }}
	<p>
		En la página <a href="{{ cookiesURL }}">Política de Cookies</a> {{#option-formal}}puede{{/option-formal}}{{^option-formal}}puedes{{/option-formal}} consultar toda la información relativa a la política de recogida, la finalidad y el tratamiento de las cookies.
	</p>
	{{/ cookiesURL }}
</p>



<h2>Legitimación para el tratamiento de datos</h2>
{{#option-formal}}
	<p>
		La base legal para el tratamiento de sus datos es: el consentimiento.
	</p>
	<p>
		Para contactar con el Titular, suscribirse a un boletín o realizar comentarios en este sitio Web tiene que aceptar la presente Política de Privacidad.
	</p>
{{/option-formal}}
{{^option-formal}}
	<p>
		La base legal para el tratamiento de tus datos es: el consentimiento.
	</p>
	<p>
		Para contactar con el Titular, suscribirte a un boletín o realizar comentarios en este sitio Web tienes que aceptar la presente Política de Privacidad.		
	</p>
{{/option-formal}}


<h2>Categorías de datos personales</h2>
<p>
	Las categorías de datos personales que trata el Titular son:
</p>
<p>
	<ul>		
		<li>Datos identificativos.</li>
		{{^clause-protegidos}}
		<li>No se tratan categorías de datos especialmente protegidos.</li>
		{{/clause-protegidos}}
	</ul>
</p>


<h2>Conservación de datos personales</h2>
<p>
	{{#option-formal}}
		Los datos personales que proporcione al Titular se conservarán hasta que solicite su supresión.
	{{/option-formal}}
	{{^option-formal}}
		Los datos personales que proporciones al Titular se conservarán hasta que solicites su supresión.
	{{/option-formal}}	
</p>


<div id="destinatarios">
{{#destinatarios-datos-personales}}
<h2>Destinatarios de datos personales</h2>
{{/destinatarios-datos-personales}}
<p>
	<ul>	
	{{#thirdparty-mailrelay}}
		<li>
			<b>Mailrelay</b> es un producto de CPC Servicios Informáticos Aplicados a Nuevas Tecnologías S.L., con domicilio social en C/ Nardo, 12 28250 – Torrelodones – Madrid. 
			<br>Más información en: <a href="https://mailrelay.com/es/politica-de-privacidad" rel="nofollow" target="_blank">https://mailrelay.com</a>
			<br>CPC trata los datos con la finalidad de prestar sus servicios de email marketing al Titular.
		</li>
	{{/thirdparty-mailrelay}}
	{{#thirdparty-mailchimp}}
		<li>
			<b>Mailchimp</b> The Rocket Science Group LLC d/b/a , con domicilio en EEUU. 
			<br>Más información en: <a href="https://mailchimp.com/legal/privacy/" rel="nofollow" target="_blank">https://mailchimp.com</a>
			<br>The Rocket Science Group LLC d/b/a trata los datos con la finalidad de prestar sus servicios de email marketing al Titular.
		</li>
	{{/thirdparty-mailchimp}}
	{{#thirdparty-sendinblue}}
		<li>
			<b>SendinBlue</b> SendinBlue, sociedad por acciones simplificada (société par actions simplifiée) inscrita en el Registro Mercantil de París con el número 498 019 298, con domicilio social situado en 55 rue d’Amsterdam, 75008, París (Francia).
			<br>Más información en: <a href="https://es.sendinblue.com/legal/privacypolicy/" rel="nofollow" target="_blank">https://es.sendinblue.com</a>
			<br>SendinBlue trata los datos con la finalidad de ofrecer soluciones para el envío de correos electrónicos, SMS transaccionales y de marketing al Titular.
		</li>
	{{/thirdparty-sendinblue}}	
	{{#thirdparty-mailpoet}}
		<li>
			<b>MailPoet</b> es un producto de Wysija SARL, sociedad inscrita en el Registro Mercantil de Marsella con el número B 538 230 186 y domicilio social situado en 6 rue Dieudé, 13006, Marsella (Francia).
			<br>Más información en: <a href="https://www.mailpoet.com/privacy-notice/" rel="nofollow" target="_blank">https://www.mailpoet.com</a>
			<br>MailPoet trata los datos con la finalidad de ofrecer soluciones para el envío de correos electrónicos y de marketing al Titular.
		</li>
	{{/thirdparty-mailpoet}}		
	{{#thirdparty-ganalytics}}
		<li>
			<b>Google Analytics</b> es un servicio de analítica web prestado por Google, Inc., una compañía de Delaware cuya oficina principal está en 1600 Amphitheatre Parkway, Mountain View (California), CA 94043, Estados Unidos ("Google"). 			
			<br>Google Analytics utiliza "cookies", que son archivos de texto ubicados en tu ordenador, para ayudar al Titular a analizar el uso que hacen los Usuarios del sitio Web. La información que genera la cookie acerca del uso del sitio Web (incluyendo la dirección IP) será directamente transmitida y archivada por Google en los servidores de Estados Unidos.
			<br>Más información en: <a href="https://policies.google.com/privacy?hl=es-ES" rel="nofollow" target="_blank">https://analytics.google.com</a>
		</li>		
	{{/thirdparty-ganalytics}}
	{{#thirdparty-dclick}}
		<li>
			<b>DoubleClick by Google</b> es un conjunto de servicios publicitarios proporcionado por Google, Inc., una compañía de Delaware cuya oficina principal está en 1600 Amphitheatre Parkway, Mountain View (California), CA 94043, Estados Unidos ("Google"). 			
			<br>DoubleClick utiliza cookies que sirven para aumentar la relevancia de los anuncios relacionados con {{#option-formal}}sus{{/option-formal}}{{^option-formal}}tus{{/option-formal}} búsquedas recientes.
			<br>Más información en: <a href="https://policies.google.com/privacy?hl=es-ES" rel="nofollow" target="_blank">https://www.doubleclickbygoogle.com</a>
		</li>
	{{/thirdparty-dclick}}
	{{#thirdparty-adsense}}
		<li>
			<b>Google AdSense</b> es un conjunto de servicios publicitarios proporcionado por Google, Inc., una compañía de Delaware cuya oficina principal está en 1600 Amphitheatre Parkway, Mountain View (California), CA 94043, Estados Unidos ("Google"). 			
			<br>AdSense utiliza las cookies para mejorar la publicidad, segmentarla según el contenido que sea relevante para los usuarios y mejorar los informes de rendimiento de las campañas.
			<br>Más información en: <a href="https://policies.google.com/privacy?hl=es-ES" rel="nofollow" target="_blank">https://www.google.com/adsense</a>
		</li>
	{{/thirdparty-adsense}}	
	</ul>
</p>
</div>

{{#thirdparty-ganalytics}}		
	<p>
		En la página de <a target="_blank" href="https://policies.google.com/privacy?hl=es" rel="nofollow">Política de privacidad de Google</a> se explica cómo Google gestiona la privacidad en lo que respecta al uso de las cookies y otra información.
	</p>
	<p>
		También {{#option-formal}}puede{{/option-formal}}{{^option-formal}}puedes{{/option-formal}} ver una lista de los <a target="_blank" href="https://policies.google.com/technologies/types?hl=es" rel="nofollow">tipos de cookies</a> que utiliza Google y sus colaboradores y toda la información relativa al uso que hacen de las <a target="_blank" rel="nofollow" href="https://policies.google.com/technologies/ads?hl=es">cookies publicitarias</a>. 
	</p>	
{{/thirdparty-ganalytics}}



<h2>Navegación Web</h2>
<p>
	Al navegar por <a href="{{site-url}}">{{dominio}}</a> se pueden recoger datos no identificativos, que pueden incluir, la dirección IP, geolocalización, un registro de cómo se utilizan los servicios y sitios, hábitos de navegación y otros datos que no pueden ser utilizados para {{#option-formal}}identificarle{{/option-formal}}{{^option-formal}}identificarte{{/option-formal}}.
</p>

<p>
	El sitio Web utiliza los siguientes servicios de análisis de terceros:
</p>

<p>
	<ul>
		{{#thirdparty-ganalytics}}<li>Google Analytics.</li>{{/thirdparty-ganalytics}}
		{{#thirdparty-dclick}}<li>DoubleClick by Google.</li>{{/thirdparty-dclick}}
		{{#thirdparty-adsense}}<li>Google AdSense.</li>{{/thirdparty-adsense}}
	</ul>
</p>
<p>
	El Titular utiliza la información obtenida para obtener datos estadísticos, analizar tendencias, administrar el sitio, estudiar patrones de navegación y para recopilar información demográfica.
</p>
<p>
	El Titular no se hace responsable del tratamiento de los datos personales que realicen las páginas web a las que pueda{{^option-formal}}s{{/option-formal}} acceder a través de los distintos enlaces que contiene el sitio Web.
</p>


<h2>Exactitud y veracidad de los datos personales</h2>
<p>
	{{#option-formal}}Usted se compromete{{/option-formal}}{{^option-formal}}Te comprometes{{/option-formal}} a que los datos facilitados al Titular sean correctos, completos, exactos y vigentes, así como a mantenerlos debidamente actualizados.
</p>
<p>
	Como Usuario del sitio Web {{#option-formal}}usted es{{/option-formal}}{{^option-formal}}eres{{/option-formal}} el único responsable de la veracidad y corrección de los datos remitidos al sitio Web exonerando a {{titular}} de cualquier responsabilidad al respecto.
</p>


<h2>Aceptación y consentimiento</h2>
<p>	
	{{#option-formal}}
		Como Usuario del sitio Web declara haber sido informado de las condiciones sobre protección de datos de carácter personal, acepta y consiente el tratamiento de los mismos por parte de {{titular}} en la forma y para las finalidades indicadas en esta Política de Privacidad.
	{{/option-formal}}
	{{^option-formal}}
		Como Usuario del sitio Web declaras haber sido informado de las condiciones sobre protección de datos de carácter personal, aceptas y consientes el tratamiento de los mismos por parte de {{titular}} en la forma y para las finalidades indicadas en esta Política de Privacidad.
	{{/option-formal}}
</p>


<h2>Revocabilidad</h2>
<p>	
	Para ejercitar {{#option-formal}}sus{{/option-formal}}{{^option-formal}}tus{{/option-formal}} derechos de acceso, rectificación, cancelación{{#clause-portabilidad}}, portabilidad {{/clause-portabilidad}} y oposición {{#option-formal}}tiene{{/option-formal}}{{^option-formal}}tienes{{/option-formal}} que enviar
	{{#correo}}
		un correo electrónico a {{correo}} junto con la prueba válida en derecho como una fotocopia del D.N.I. o equivalente.
	{{/correo}}
	{{^correo}}
		un correo postal a {{titular}}, {{# domicilio }} {{domicilio}}, {{/ domicilio }} {{provincia}} - España, junto con la prueba válida en derecho como una fotocopia del D.N.I. o equivalente.
	{{/correo}}	
</p>
<p>
	El ejercicio de estos derechos no incluye ningún dato que {{titular}} esté obligado a conservar con fines administrativos, legales o de seguridad.
</p>


<h2>Cambios en la Política de Privacidad</h2>
<p>
	El Titular se reserva el derecho a modificar la presente Política de Privacidad para adaptarla a novedades legislativas o jurisprudenciales, así como a prácticas de la industria. 	
</p>
<p>	
	Estas políticas estarán vigentes hasta que sean modificadas por otras debidamente publicadas.
</p>
